.xs {
  width: 50px;
  height: 50px;
  border-radius: 150px;
}

.md {
  width: 100px;
  height: 100px;
  border-radius: 150px;
  border: 1px solid rgb(95, 95, 95);
}

.lg {
  width: 150px;
  height: 150px;
  border-radius: 150px;
  border: 1px solid rgb(95, 95, 95);
}

.detail:hover {
  cursor: pointer;
}
