.container {
  width: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.friends {
  margin-top: 8px;
  width: 90%;
}

.friends span {
  background-color: #eee;
  display: flex;
  padding: 12px;
  justify-content: space-between;
}

.friends span:hover {
  background-color: #ccc;
}

.friends span.active {
  background-color: #04AA6D;
  color: white;
}

form {
  margin-top: 6px;
}

input {
  width: 100%;
}
