.container {
  width: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.friends span {
  background-color: #eee;
  display: flex;
  padding: 12px;
  justify-content: space-between;
}

.friends span:hover {
  background-color: #ccc;
}

.friends span.active {
  background-color: #04AA6D;
  color: white;
}


