.header {
  background-color: #333;
  margin: 0;
  padding: 0;
}

.title {
  color: white;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.container > * {
  margin: 8px;
}
